body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
    display: flex;
}

.header_desktop {

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header_mobile_version {
    display: none;
}

.header_header {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.nav_header_link_block--desktop {
    display: flex;
    width: 32rem;
    margin-right: 3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_header_link_desktop {
    display: flex;
}

.search {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}


a#nav_header_link_cta.nav_header_link {
    color: #0065FC;
}

input#site_search {
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1rem;
    color: black;
}

.fas.fa-map-marker-alt {
    padding: 1px 1px 1px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: solid 1px #F2F2F2;
    background-color: #F2F2F2;
}

.search_btn_submit {
    padding: 14px 20px 14px 14px;
    background: #0065FC;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -20px;
    border: solid 1px #F2F2F2;
    cursor: pointer;
}

.search_btn_submit:hover {
    font-size: 0.9rem;
}

.search_btn_submit_responsive {
    padding: 14px 20px 14px 14px;
    background: #0065FC;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -20px;
    border: solid 1px #F2F2F2;
    cursor: pointer;
    display: none;
}


.filter_block {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 15px;
    
}



.filter_btn .fas {
    color: #0065FC;
    border: solid 1px #DEEBFF;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 30px;
    margin-right: 10px;
}


.filter_btn {
    background-color: white;
    border-radius: 30px;
    padding-left: 0px;
    padding-right: 40px;
    border: solid 1px #F2F2F2;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1rem;
}


.filter_btn:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

#logo {

    display: flex;
    width: 110px;
    height: 45px;
    margin-left: 40px;
 
}

#nav_header {
    
    display: flex;
}

.nav_header a {
    text-align: center;
    padding: 10px 50px;
    color: black;
}

.nav_header a:hover {
    border-top: solid 1px #0065FC;
    color: #0065FC;
}

.nav_header_link_cta a {
    color: #0065FC;
    font-weight: bold;
}

.nav_header_link_cta a:hover {
    font-size: large;
}



.search {
  margin-top: 20px;
}

#site-search {
    padding: 4px 8px;
    margin-left: 10px;
}

.main_block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 40px;
}

.title_popular {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.fas.fa-chart-line {
    margin-right: 2rem;
}

.accomodations {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border: solid #F2F2F2 1px;
    border-radius: 30px;
    padding: 40px;
    margin-right: 60px;
}

.card_container_block {
    
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
}

.card_container {
    background-color: white;
    border-radius: 30px;
    padding: 4px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px 0px #F2F2F2;
}


img {
    border: solid 1px white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.img_card_accomodations {
    height: 130px;
    width: 255px;
    object-fit: cover;
    
}

.card_info {
    margin-left: 10px;
    margin-bottom: 20px;
}

.fas.fa-star.checked {
    color: #0065FC;
}

.fas.fa-star {
    color: #F2F2F2;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.accomodations_popular {
    background-color: #F2F2F2;
    border: solid #F2F2F2 1px;
    border-radius: 30px;
    padding: 40px;
}

.popular_block_title {
    display: flex;
}


.card_container_popular {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: white;
    border-radius: 30px;
    padding: 2px;
    margin-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 5px 0px #F2F2F2;
    
}

.accomodations_popular_card {
    display: flex;
}

.img_accomodations_popular {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0px;
    width: auto;
    height: 185px;
    max-width: 200px;
    min-width: 200px;
}

.card_info_popular {
    width: 200px;
    margin-left: 10px;
}

.activities {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    margin-left: 40px;
}

.activities_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}



.col {
    display: flex;
    justify-content: space-around;
}

.col_activities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities_main_pic {
    height: 550px;
    width: 400px;
}

.activities_pic {
    height: 200px;
    width: 300px;
}

a.activities_card h3 {
    padding-left: 10px;
}


footer {
    background-color: #F2F2F2;

}


nav {
    list-style: none;
}

.nav_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-left: 20px;
    padding-bottom: 30px;
}

.footer_container ul {
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 330px) and (max-width: 415px) {
    .card_info_popular {
        font-size: 0.8rem;
    }

    .card_info {
        font-size: 0.8rem;
        margin-bottom: 5px;
    }

    img.img_card_accomodations {
        height: 130px;
    }
    
    img.activities_main_pic {
        height: 170px;
    }

    img.activities_pic {
        height: 170px;
    }


    .activities_card h3 {
        font-size: 1rem;
    }

    .main_block {
        display: flex;
    }

}


@media screen and (max-width: 950px) {
    body {
        width: auto;
        justify-content: center;
    }

    .header_desktop {
        display: none;
    }

    .header_mobile_version {
        display: block;
    }

    h2 {
        margin-left: 1rem;
    }

    
    .header_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    a#nav_header_link_cta.nav_header_link {
        width: auto;
        border-bottom: none;
    }

  
    .nav_header_link_desktop {
        display: none;
    }


    #logo {
        margin-left: 0px;
    }

    .nav_header {
        display: flex;
    }

    .nav_header_link_block--mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        height: 8rem;
        width: 100%;
        margin-top: -1rem;
    }

    .nav_header_link {
        border-bottom: solid 2px #F2F2F2;
        width: 50%;
        text-align: center;
    }

    a.nav_header_link {
        padding: 1rem;
    }

    a.nav_header_link:hover {
        color: #0065FC;
        border-bottom: #0065FC solid 2px;
    }


    #nav_header_link_cta{
        font-size: 1rem;
        margin-right: 1rem;   
        color: #0065FC;
    }

    #nav_header_link_cta > a {
        color: #0065FC;
    }

    
    .filter_btn {
        display: block;
        margin: 15px;
    }

    .search {
        margin-top: -40px;
    }
    
    .search_block {
        display: flex;
    }

    .search_btn_submit {
        display: none;
    }

    .search_btn_submit_responsive {
        display: flex;
    }

    .fas.fa-chart-line {
        display: flex;
        justify-content: flex-end;
    }

    .filter_block {
        flex-wrap: wrap;
    }

    .filter {
        display: flex;
        margin-left: -30px;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }



   .filter_btn {
       display: flex;
       align-items: center;
   }

   .filter_btn {
    display: flex;
    align-items: center;
    }

    button.filter_btn {
        margin: 5px;
    }


    .filter_btn:nth-child(1) {
        display: flex;
        align-items: center;
        order: 1;
        }
        .filter_btn:nth-child(2) {
            display: flex;
            align-items: center;
            order: 2;
            }
            .filter_btn:nth-child(3) {
                display: flex;
                align-items: center;
                order: 3;
                }
                .filter_btn:nth-child(4) {
                    display: flex;
                    align-items: center;
                    order: 4;
                    }


  
    .main_block {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0px;
    }
    
    .accomodations {
        margin-right: 0px;
        margin-top: 40px;
        background-color: white;
        border: none;
        padding: 0px;

    }

    .accomodations_popular {
        border-radius: 0px;
        padding: 10px;
    }

    .title_popular {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .popular_block_title {
        display: flex;
        width: 90%;
    }

    .chart_icon {
        display: flex;
        width: 10%;
    }

  
    .card_container_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .img_card_accomodations {
        width: 100%;
        height: 170px;
    }

    .img_accomodations_popular {
        height: 170px;
    }


    .accomodations_popular_block {
        width: 100%;
    }

    .accomodations_popular_card {
        display: flex;
    }

    .card_container_popular {
        width: 100%;
        padding: 0px;
        margin-right: 0px;
    }

    .card_info_popular {
        width: auto;
    }

    .col {
        flex-direction: column;
    }

    .activities {
        margin-left: 0px;
    }

    .activities_container {
        display: flex;
        flex-direction: column;
    }

    .activities_main_pic {
        width: 100%;
        height: 220px;
    }

    .activities_pic {
        width: 100%;
        height: 220px;
    }

    footer {

        display: flex;
        justify-content: center;
    }

 
    .nav_footer {
        flex-direction: column;
    }

    .nav_footer_link {
        text-align: start;
        width: 100%;
    }



}



@media screen and (max-width: 1109px) {
    .filter_btn {
        margin-top: 10px;
    }
}


@media screen and (max-width: 1534px) {

    .main_block {
        display: block;
    }

    .accomodations {
        display: block;
        margin-bottom: 2rem;
        margin-right: 0px;
    }

    .accomodations_popular {
        display: block;
    }

    .activities_container {
        display: block;
    }
}


